@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

.root {
    --primary-color: #121220;
    --secondary-color: #F2C94C;
}

body {
    background-color: var(--primary-color);
    font-family: 'IBM Plex Mono', monospace;
    margin: 0px;
    color: var(--primary-color);

}

.navigation-part {
    background: var(--secondary-color);
    padding: 1rem;
    text-align: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.banana-translate {
    color: var(--primary-color);
}

.banana-image {
    width: 100px;
    max-width: 80px;
}

textarea {
    min-height: 20vh;
    width: 50%;
    display: block;
    margin: 2rem;
    font-size: large;
    font-family: monospace;
    box-sizing: border-box;
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 1rem;
    border: none;
}

button {
    margin-left: 2rem;
    padding: 1rem;
    font-size: large;
    border-radius: 1rem;
    background-color: var(--secondary-color);
    border: none;
    color: var(--primary-color);
    font-family: monospace;
}

.result {
    min-height: 15vh;
    width: 48%;
    margin: 2rem;
    padding: 1rem;
    font-size: large;
    border-radius: 1rem;
    color: var(--primary-color);
    overflow-y: scroll var(--secondary-color);
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
}


.footer-part {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 2rem;
    display: block;
    box-sizing: border-box;
    font-size: larger;
    
}

.footer-part .ending-part { 
    /* font-weight: bold; */
    
}